<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>exercicio flask</title>
</head>
<body>
    <h1>fabrica de programadores</h1>
    <p>prefeitura de santana de parnaiba</p>
    <br>
    <h2>voce tem {{idade}} anos.</h2>
    <!-- condicional que ira checar se a pessoa atingiu a maioridade-->
     {% if idade >= 18 %}
     <p>voce ja atingiu a maioridade.</p>
     {% else %}
     <p>voce ainda nao atingiu a maioridade.</p>
     {% endif %}
    
</body>
</html>