@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');


body {
    background-color: #e90b0bdc;
    color: #71d811;
    font-family: "Bitcount Grid Single", system-ui;
}